<% @artists.each do |artist| %>
    <ul>
        <a href="/artists/<%= artist['id'] %>"><%= artist['name'] %> </a>
    </ul>
<% end %>

<button type='submit'>
<p><a href="/artists/new">Add another artist</a></p> </button> </form>




