<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
      <header>
            <h1>Välkommen till BeatRate </h1> <img class="logo" src="/img/not.png" alt="">
      </header>



    <%= yield %>
    <span></span>
</body>
</html>