<h2> Welcome back to BeatRate </h2>
 



 <form class="formbox" action="/login" method="post">
    <div class="form-list">
      <label for="mail">Username:</label><input type="username" id="username" name="username" ><br />
      <label for="password">Lösenord:</label><input type="Password" id="mail" name="password" ><br />
    </div>
   
    <div class="button">
      <button type="submit" value="submit">Login</button>
    </div>

    <div class="message"></div>
</form> 