<form action='/artist/add' method='post'> 
  
<div>
  Name
  <input type='text' id='id' name='name'>
</div>  

<style>
  /* Add some margin between div elements */
  div {
    margin-bottom: 80px; /* Adjust this value to increase or decrease the space */
    margin-top: 80px;¨
  
  }

 button {
      background-color: pink;
      border: 2px solid darkred;
      color: white;
      padding: 10px 20px;
      border-radius: 10px; /* Adjust this value to change the shape */
      cursor: pointer;
    } 

</style>
Write a little about the artist!

<div>
  <textarea name="about" id="id"></textarea>
</div>  



<div>
Rate this artist:
1 <input type="radio" name="rating" value="1" />
2 <input type="radio" name="rating" value="2" />
3 <input type="radio" name="rating" value="3" />
4 <input type="radio" name="rating" value="4" />
5 <input type="radio" name="rating" value="5" />
 <button type='submit'>Add</button> </form>
</div> 

<%# <div>
  Rate this artist
  <input type="checkbox" name="rating[]" value="1" />
  <input type="checkbox" name="rating[]" value="2" />
  <input type="checkbox" name="rating[]" value="3"/>
  <input type="checkbox" name="rating[]" value="4"/>
  <input type="checkbox" name="rating[]" value="5"/>
  <button type='submit'>Add</button> </form>
</div>   %>