<h2> Welcome to BeatRate! Make an account </h2><div>

 <form class="formbox" action="/new_account" method="post">
    <div class="form-list">
      <label for="mail">Username:</label><input type="username" id="username" name="username" ><br />
      <label for="password">Password:</label><input type="Password" id="mail" name="password" ><br />
    </div>
   
    <div class="button">
      <button type="submit" value="submit">Create account</button>
    </div> 
 </form>